body{
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
}

.top-section{
    background-color: #8b5e83;
}

.container-fluid{
    padding: 1% 5%;
}

#header-section{
    background-color: #8b5e83;
    padding: 150px 0 30px ;
}

.header-paragraaph{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.cloud-image-1{
    position: absolute;
    top: 200px;
    left: 200px;

}

.cloud-image-2{
    position: absolute;
    right: 250px;
    top: 400px;

}

.cloud-image-3{
    width: 350px;
    height: 150px;
    margin-top: 50px;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5rem;
    color: #fff;
    margin: 50px;
}

h2{
    font-family: 'Merriweather', serif;
    color: #8b5e83;
    margin-bottom: 80px;
    font-weight: bold;
}

.middle-section{
    margin: 150px auto;

}

p{
    width: 50%;
    margin: 0 auto 50px;
    color: #8b5e83;
}

.about-icon{
    color: #8b5e83;
    padding: 30px;
    margin-top: 50px;
}

.about-icon:hover{
    opacity: 0.5;
}

.about-header{
    color: #8b5e83;
}

.about-paragraph{
    color: #8b5e83;
}

.read-link{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
    margin-bottom: 50px;
}

.read-link:hover{
    background-color: #b34180;
    color: #fff;
}


.middle-skill-section-1{
    background-color: #b34180;
    padding: 150px auto 100px;
    height: 600px;
}

.web-design-heading{
    padding-top: 150px;
    color: #fff;
}

.web-design-paragraph{
    color: #fff;
    padding-bottom: 10px;
}

.middle-skill-section-2{
    padding: 150px auto 100px;
    height: 600px;
    /* margin: 150px auto 150px; */
}

.web-dev-heading{
    padding-top: 150px;
    color: #8b5e83;
}

.web-dev-paragraph{
    padding-bottom: 10px;
}

.middle-skill-section-3{
    background-color: #bc658d;
    padding: 150px auto 100px;
    height: 600px;
    /* margin: 150px auto 150px; */
}

.tech-support-heading{
    padding-top: 150px;
    color: #fff;
}

.tech-support-paragraph{
    color: #fff;
    padding-bottom: 10px;
}

.contact-link, .contact-link-2{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
}

.contact-link:hover{
    background-color: #fff;
    color: #b34180;
}

.contact-link-2:hover{
    background-color: #b34180;
    color: #fff;
}
