body{
    text-align: center;
    font-size: 1.2rem;
    /* font-family: 'Montserrat', sans-serif; */
}

/* JAVASCRIPT CSS */

.big  {
    font-size: 6rem;
    /* border: 1 solid yellow; */
}

.top-section{
    background-color: #8b5e83;
}

.logo{
    width: 80px;
    height: 80px;
}

.container-fluid{
    padding: 1% 5%;
}

.navbar-icon{
    color: #fff;
    margin: 20px;
}

.navbar-icon:hover{
    color: #f3c623;
}

#header-section{
    background-color: #8b5e83;
    padding: 150px 0 30px ;
}

.header-paragraph{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.cloud-image-1{
    position: absolute;
    top: 200px;
    left: 200px;

}

.cloud-image-2{
    position: absolute;
    top: 400px;
    right: 250px;
}

.cloud-image-3{
    width: 350px;
    height: 150px;
    margin: 50px 0 50px 0;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    color: #fff;
    margin: 50px;
}

h2{
    font-family: 'Merriweather', serif;
    color: #8b5e83;
    margin-bottom: 50px;
    font-weight: bold;
}

.middle-section{
    margin: 150px auto;
}

p{
    width: 80%;
    margin: 0 auto 50px;
    color: #8b5e83;
    font-family: 'Montserrat', sans-serif;
}

.my-pix{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 100%;
}

.about-icon{
    color: #8b5e83;
    padding: 30px;
    margin-top: 50px;
}

.about-icon:hover{
    opacity: 0.5;
}

.about-header{
    color: #8b5e83;
}

.about-paragraph{
    color: #8b5e83;
}

.read-link{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
    margin-bottom: 50px;
}

.read-link:hover{
    background-color: #b34180;
    color: #fff;
}

.fa-icon{
    margin-left: 10px;
}

.middle-skill-section-1{
    background-color: #b34180;
    padding: 150px auto 100px;
    height: 600px;
}

.web-design-heading{
    padding-top: 150px;
    color: #fff;
}

.web-design-paragraph{
    color: #fff;
    padding-bottom: 10px;
}

.middle-skill-section-2{
    padding: 150px auto 100px;
    height: 600px;
    /* margin: 150px auto 150px; */
}

.web-dev-heading{
    padding-top: 150px;
    color: #8b5e83;
}

.web-dev-paragraph{
    padding-bottom: 10px;
}

.middle-skill-section-3{
    background-color: #bc658d;
    padding: 150px auto 100px;
    height: 700px;
    /* margin: 150px auto 150px; */
}

.tech-support-heading{
    padding-top: 150px;
    color: #fff;
}

.tech-support-paragraph{
    color: #fff;
    padding-bottom: 10px;
}

.link-1{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
}

.link-1:hover{
    background-color: #fff;
    color: #b34180;
}

.link-2{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
}

.link-2:hover{
    background-color: #b34180;
    color: #fff;
}

.link-3{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
}

.link-3:hover{
    background-color: #fff;
    color: #b34180;
}

.contact-link{
    text-decoration: none;
    background-color: #f3c623;
    padding: 10px 20px;
    color: #b34180;
    font-weight: bold;
}

.contact-link:hover{
    color: #fff;
    background-color: #b34180;
}

.experience-img-1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
    /* float: left; */
}

.experience-img-2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 30px;
    /* float: right;
    margin-right: 0; */
}

.experience-sub-heading{
    margin: 20px auto;
    color: #8b5e83;
}

.middle-section-contact{
    background-color: #f7f7e8;
    height: 500px;
}

#contact-section{
    margin-top: 80px;
}

.envelope-icon{
    margin-left: 5px;
}

.footer-icon{
    padding: 0 20px 0;
    margin-top: 50px;
    color: #fff;
}

.footer-icon:hover{
    color: #f3c623;
}


.footer-paragraph{
    color: #fff;
    margin: auto;
    font-size: 1rem;
}

.footer-section{
    background-color: #b34180;
    overflow:hidden;
}

@media screen and (max-width:750px){

    .cloud-image-1{
        margin-top: 100px;
        position: absolute;
        top: 100px;
        left:20px;
    }
    .cloud-image-2{
        position: absolute;
        top: 400px;
        right: 50px;
    }

    h1{
        margin: auto;
        font-size:3.5rem;
    }

    .header-paragraph{
        font-size: 1.5rem;
    }

    p{
        width: 100%;
        margin: 0 auto 50px;
        color: #8b5e83;
    }

    #contact-section{
        margin-bottom: 50px;
    }

}
